*Precurse_Exam*
/week7/day3/*
/week7/day4/*
/week7/day5/*
/week6/day4/theory/settings.json

.vscode/*

*.pub
.DS_Store
passwords

/.idea/
*.log
.cache
.Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dotenv
.env

# virtualenv
venv/
ENV/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

