*Precurse_Exam*
*Exam*
/week5/day45/*
/week5/day5/*
/week6/*

.vscode/*

*.pub
.DS_Store
passwords

/.idea/
*.log
.cache
.Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dotenv
.env

# virtualenv
venv/
ENV/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

